footer{
    padding-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: rgb(172, 172, 172);
}

@media (max-width: 750px){

footer{
    font-size: 10px;
}

}

@media (max-width: 560px){

footer{
    font-size: 9px;
}

}

@media (max-width: 480px){
footer{
    font-size: 8.5px;
}
}

@media (max-width: 360px) {

footer{
    font-size: 8px;
}

}

@media (max-width: 340px) {

footer{
    font-size: 7px;
}

}
