{% extends "client/base.html" %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/rune.css' %}" type="text/css">
{% endblock %}
{% block title %}Runes{% endblock %}
{% block section %}
<div class="container-title">
    <div class="title">
        <h2>Runes</h2>
    </div>
</div>

<div class="container">
    <div class="title">
        <h3>Comet (Corrupting Potion Start)</h3>
    </div>
    <br>
    <div class="runes">
        <div class="comet-primary">
            <img src="{% static 'img/runes/sorcery/Sorcery.png' %}" alt=""> &nbsp;
            <img src="{% static 'img/runes/sorcery/ArcaneComet.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/ManaflowBand.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/Transcendence.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/Scorch.png' %}" alt="">&nbsp;
        </div>
        <div class="comet-secondary">
            <img src="{% static 'img/runes/inspiration/Whimsy.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/BiscuitDelivery.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/TimeWarpTonic.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/AdaptiveForce.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/AdaptiveForce.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/Armor.png' %}" alt="">&nbsp;
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="title">
        <h3>Grasp (Doran's Shield Start)</h3>
    </div>
    <br>
    <div class="runes">
        <div class="comet-primary">
            <img src="{% static 'img/runes/resolve/Resolve.png' %}" alt=""> &nbsp;
            <img src="{% static 'img/runes/resolve/GraspOfTheUndying.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/resolve/Demolish.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/resolve/BonePlating.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/resolve/Overgrowth.png' %}" alt="">&nbsp;
        </div>
        <br>
        <div class="comet-secondary">
            <img src="{% static 'img/runes/inspiration/Whimsy.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/BiscuitDelivery.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/MagicalFootwear.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/AttackSpeed.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/Armor.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/Armor.png' %}" alt="">&nbsp;
        </div>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Doran's Shield start</h3>
    </div>
    <br>
    <div class="runes">
        <div class="comet-primary">
            <img src="{% static 'img/runes/sorcery/Sorcery.png' %}" alt=""> &nbsp;
            <img src="{% static 'img/runes/sorcery/ArcaneComet.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/ManaflowBand.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/Transcendence.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/Scorch.png' %}" alt="">&nbsp;
        </div>
        <div class="comet-secondary">
            <img src="{% static 'img/runes/inspiration/Whimsy.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/MagicalFootwear.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/BiscuitDelivery.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/AdaptiveForce.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/AdaptiveForce.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/Armor.png' %}" alt="">&nbsp;
        </div>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Grasp (Corrupting Potion Start)</h3>
    </div>
    <br>
    <div class="runes">
        <div class="comet-primary">
            <img src="{% static 'img/runes/resolve/Resolve.png' %}" alt=""> &nbsp;
            <img src="{% static 'img/runes/resolve/GraspOfTheUndying.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/resolve/Demolish.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/resolve/BonePlating.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/resolve/Overgrowth.png' %}" alt="">&nbsp;
        </div>
        <br>
        <div class="comet-secondary">
            <img src="{% static 'img/runes/inspiration/Whimsy.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/BiscuitDelivery.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/TimeWarpTonic.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/AttackSpeed.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/Armor.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/Armor.png' %}" alt="">&nbsp;
        </div>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Phase Rush (Against Darius, Tahm Kench)</h3>
    </div>
    <br>
    <div class="runes">
        <div class="comet-primary">
            <img src="{% static 'img/runes/sorcery/Sorcery.png' %}" alt=""> &nbsp;
            <img src="{% static 'img/runes/sorcery/PhaseRush.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/ManaflowBand.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/Transcendence.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/GatheringStorm.png' %}" alt="">&nbsp;
        </div>
        <div class="comet-secondary">
            <img src="{% static 'img/runes/inspiration/Whimsy.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/BiscuitDelivery.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/TimeWarpTonic.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/CDRScaling.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/Armor.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/Armor.png' %}" alt="">&nbsp;
        </div>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>First Strike</h3>
    </div>
    <br>
    <div class="runes">
        <div class="comet-primary">
            <img src="{% static 'img/runes/inspiration/Whimsy.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/FirstStrike.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/MagicalFootwear.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/BiscuitDelivery.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/inspiration/CosmicInsight.png' %}" alt="">&nbsp;
        </div>
        <div class="comet-secondary">
            <img src="{% static 'img/runes/sorcery/Sorcery.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/ManaflowBand.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/sorcery/Transcendence.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/AdaptiveForce.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/AdaptiveForce.png' %}" alt="">&nbsp;
            <img src="{% static 'img/runes/stats/Armor.png' %}" alt="">&nbsp;
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-title">
    <div class="title">
        <h2>Explanation</h2>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Arcane Comet</h3>
    </div>
    <div class="info">
        <p>
           <img src="{% static 'img/runes/sorcery/ArcaneComet.png' %}" alt="" style="margin-bottom: -15px;">  Best Keystone for Q max for enemies that you can poke down early game with Q
        </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Phase Rush</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/sorcery/PhaseRush.png' %}" alt="" style="margin-bottom: -15px;">  Phase Rush is needed into match up where you're just looking to survive lane phase and you need to run away from the enemy champ as fast as possible. 
For example, Darius and Tahm Kench. If they get close to you and slow you, you just phase rush away!
        </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Manaflow Band</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/sorcery/ManaflowBand.png' %}" alt="" style="margin-bottom: -10px;">  Malphite is really mana hungry early game, you want to usually Q the enemy champ every time Manaflow band is off cooldown to proc it.
You need to finish procing this ASAP, You'll have pretty good after you max Manaflow band.
        </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Transcendence</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/sorcery/Transcendence.png' %}" alt="" style="margin-bottom: -15px;">  Need the CDR for your ult! Absolute Focus is not worth it!
        </p>
    </div>
</div>

<div class="container">
    <div class="title">
        <h3>Scorch</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/sorcery/Scorch.png' %}" alt="" style="margin-bottom: -15px;">  Best for early game Q poke damage
        </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Gathering Storm</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/sorcery/GatheringStorm.png' %}" alt="" style="margin-bottom: -15px;">  
            If there is a match up where you can't Q poke early game, take gathering storm, I usually take gathering storm with Phase rush
        </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Grasp of the Undying</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/resolve/GraspOfTheUndying.png' %}" alt="" style="margin-bottom: -15px;">  
            Best for W max or E max. Generally, take this against match up where you can get close to without getting chunked.
For tank Malphite, Grasp and Resolve tree is the best to go. You can farm Grasp pretty easily with W
        </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Demolish</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/resolve/Demolish.png' %}" alt="" style="margin-bottom: -15px;">  
            With turret plates, Demolish is too important, I take it everytime if I go Resolve tree
        </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Conditioning</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/resolve/Conditioning.png' %}" alt="" style="margin-bottom: -10px;">  
            Very greedy, and generally games are decided before 12mins.
I'd only take this if the game is looking to scale or you're playing against some scaling tank
        </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Second Wind</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/resolve/SecondWind.png' %}" alt="" style="margin-bottom: -15px;">  
            Good into surviving early game poke, against Fiora, 2nd wind is great </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Bone Plating</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/resolve/BonePlating.png' %}" alt="" style="margin-bottom: -10px;">  
            Really good when you need to surviving and trading in the early game. Take this against anyone that looks to want to take long trades with you. </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Overgrowth</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/resolve/Overgrowth.png' %}" alt="" style="margin-bottom: -15px;">  
            The best, gives you around 450 gold worth of health, combined with Conditioning, you can get up to 1200 gold worth of value from Runes alone!</p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Unflinching</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/resolve/Unflinching.png' %}" alt="" style="margin-bottom: -15px;">  
            Need this against heavy CC! (Anivia, TF to name a few)</p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>First strike</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/inspiration/FirstStrike.png' %}" alt="" style="margin-bottom: -15px;">  
            Really good in lanes where you know for sure you'll get the first strike
I wouldn't take it if the enemy has any skillshot that can potentially land on you first </p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Magical Footwear</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/inspiration/MagicalFootwear.png' %}" alt="" style="margin-bottom: -15px;">  
            Good when you're starting Doran's Shield. Give you 420 gold value and faster boots later</p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Time Warp Tonic</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/inspiration/TimeWarpTonic.png' %}" alt="" style="margin-bottom: -10px;">  
            Best for Malphite, you really need it to survive lane and Mana. Paired with Manaflow Band, you almost don't have Mana problems! 
You can sometimes catch your opponent off guard when they think you don't have Mana but you do. Also good combo if you're taking Time Warp Tonic</p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Biscuit Delivery</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/inspiration/BiscuitDelivery.png' %}" alt="" style="margin-bottom: -10px;">  
            A must if you're going Corrupting Potion. Paired with Buscuit delivery, you can gain a large amount of health and Mana instantly to catch your opponent off guard.</p>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Cosmic Insight</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/inspiration/CosmicInsight.png' %}" alt="" style="margin-bottom: -15px;">
            TP and Flash cd is really nice for sure. Magical footwear can be better if you don't need the boots early</p>
    </div>
</div>
<br>
<div class="container-title">
    <div class="title">
        <h2>Greedy Runes</h2>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3>Ultimate Hunter</h3>
    </div>
    <div class="info">
        <p>
            <img src="{% static 'img/runes/domination/UltimateHunter.png' %}" alt="" style="margin-bottom: -10px;">
            Generally very greedy to go but if you want to play for your team and sac early game / lane phase, you can go Ultimate Hunter. 
I rarely get this rune because I think lane phase is really important</p>
    </div>
</div>
{% endblock %}
